<img align="right" src = "https://raw.githubusercontent.com/arsilva87/statsbook/main/figs/figura_thumbnail.png" width="25%" height="25%">

Códigos em R do livro: **Estatística Decodificada** (Silva, A.R. 2021) 

Capítulo 8: **Importação e exportação de dados no R**
____

**Importação de dados**

In [31]:
# Leitura de dados .txt do respositório GitHub: arsilva87/statsbook
batata <- read.table(file = "https://raw.githubusercontent.com/arsilva87/statsbook/main/datasets/batata.txt", 
                     header = TRUE, colClasses = c("factor", "factor", "numeric"))
batata

   cultivar bloco prod
1  1        1     50.9
2  1        2     50.6
3  1        3     51.2
4  2        1     49.1
5  2        2     49.3
6  2        3     49.9
7  3        1     49.9
8  3        2     49.8
9  3        3     49.5
10 4        1     49.2
11 4        2     49.1
12 4        3     50.0

In [32]:
# Análise da estrutura do objeto importado
str(batata)

'data.frame':	12 obs. of  3 variables:
 $ cultivar: Factor w/ 4 levels "1","2","3","4": 1 1 1 2 2 2 3 3 3 4 ...
 $ bloco   : Factor w/ 3 levels "1","2","3": 1 2 3 1 2 3 1 2 3 1 ...
 $ prod    : num  50.9 50.6 51.2 49.1 49.3 49.9 49.9 49.8 49.5 49.2 ...

*Dados em planilhas*

Obs: é preciso fazer upload para notebook. Menu File >> Open... >> Upload

In [33]:
library(readxl)
batatax <- read_excel(path = "batata.xlsx", sheet = "Planilha1", range = "A1:C13")
batatax

   cultivar bloco prod
1  1        1     50.9
2  1        2     50.6
3  1        3     51.2
4  2        1     49.1
5  2        2     49.3
6  2        3     49.9
7  3        1     49.9
8  3        2     49.8
9  3        3     49.5
10 4        1     49.2
11 4        2     49.1
12 4        3     50.0

____
**Exportação de dados**

In [34]:
# Exemplificando a inserção de uma nova coluna (prod2) ao data.frame batata
batata$prod2 <- sqrt(batata$prod)
batata

   cultivar bloco prod prod2
1  1        1     50.9 7.134424
2  1        2     50.6 7.113368
3  1        3     51.2 7.155418
4  2        1     49.1 7.007139
5  2        2     49.3 7.021396
6  2        3     49.9 7.063993
7  3        1     49.9 7.063993
8  3        2     49.8 7.056912
9  3        3     49.5 7.035624
10 4        1     49.2 7.014271
11 4        2     49.1 7.007139
12 4        3     50.0 7.071068

In [35]:
# exportando os dados em formato .csv para o diretorio de trabalho (neste caso, no notebook atual. Veja em: menu File >> Open...)
write.table(x = batata, file = "batata2.csv", sep = ",")